<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div>
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a routerLink="/" routerLinkActive="activo">primer</a></li> </ul>
      <li><a routerLink="/cuerpo" routerLinkActive="activo">cuerpo</a></li>
      <li><a routerLink="/menu" routerLinkActive="activo"> Api Tiempo</a></li>
    <p class="navbar-text">Api con Angular - Maria del Carmen Osuna</p>
  </nav>
</div>